/*Squada One Start*/
@font-face {
    font-family: 'Squada One';
    src: url('../fonts/squadaOne/SquadaOne-Regular.eot');
    src: url('../fonts/squadaOne/SquadaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/squadaOne/SquadaOne-Regular.woff2') format('woff2'),
        url('../fonts/squadaOne/SquadaOne-Regular.woff') format('woff'),
        url('../fonts/squadaOne/SquadaOne-Regular.ttf') format('ttf'),
        url('../fonts/squadaOne/SquadaOne-Regular.svg#SquadaOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Squada One End*/

/*Hind Siliguri Start*/

@font-face {
    font-family: 'Hind Siliguri';
    src: url('../fonts/HindSiliguri-Regular/HindSiliguri-Regular.eot');
    src: url('../fonts/HindSiliguri-Regular/HindSiliguri-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HindSiliguri-Regular/HindSiliguri-Regular.woff2') format('woff2'),
        url('../fonts/HindSiliguri-Regular/HindSiliguri-Regular.woff') format('woff'),
        url('../fonts/HindSiliguri-Regular/HindSiliguri-Regular.ttf') format('truetype'),
        url('../fonts/HindSiliguri-Regular/HindSiliguri-Regular.svg#HindSiliguri-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Hind Siliguri End*/

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.eot');
    src: url('../fonts/Ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2'),
        url('../fonts/Ubuntu/Ubuntu-Regular.woff') format('woff'),
        url('../fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype'),
        url('../fonts/Ubuntu/Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

