*{margin:0; padding:0; outline: 0;}
body{font-family:arial; font-size: 18px; color:#444; line-height: 25px; margin: 5px;}
.content{background:#ffc1077d; width: 800px; margin:0 auto;}
.maincontent{background:#fff; margin: 10px; min-height: 500px;}
.maincontent_title{text-align: center; background:#ffc1077d; padding: 5px;}

.header, .footer{text-align: center; background:#ffff6f; padding: 10px;}